* {
    box-sizing: border-box;
    padding: 0;
}


.header__nav{
    background-color: rgb(235, 152, 0);
    font-size: 21px;

}

body{
    background-image: url(../resources/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
width: auto;
height: auto;
}

.nav-link{
    color: rgb(0, 0, 0);
    

}

.nav-item{
    color: white;
    padding: 10px;
}

.navbar-nav{
    color: rgb(0, 0, 0);
}

.navbar-brand{
    color: rgb(0, 0, 0);
}

.navbar-toggler{
    color: white;

}

.menu__Fondo{
    background-size:cover;
    width: auto;
    margin: 3px;
    height: 900px;
}

footer{
    background-color:black;
    height: px;
}

.imagen__principal{
height: 700px;
width: 100%;
margin: auto;
padding: auto;
display: inline;
justify-content: center;
object-fit: contain;
}

h1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}


button:hover{
    transform: scale(1.1);

    cursor: pointer;
}
.editar__boton{
    background-color: rgba(0, 0, 0, 0.241);
    border-radius: 15px;
    text-decoration: none;
    border: none;
    height: 50px;
    width: 200px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
align-items: center;
}

.edit{
    margin: 20px;
    
}

.tamano__imagen{
    height: 600px;
    object-fit: cover;
    width: 100%;
    background-size: contain;
}

.carousel-item p{
    
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    color: rgb(0, 0, 0);
    top:20%;
    padding: 3px;
    margin: 15px;
    align-self: flex-start;
}

.editar__color{
    background-color: orange;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    height: 70px;
    width: 220px;
    padding: 10px;
}