* {
    box-sizing: border-box;
    padding: 0;
}

.imagen__logo{
height: 100px;    

}
.header__nav{
    background-color: rgb(235, 152, 0);
    font-size: 21px;
height: 80px;
}

body{
    background-image: url(../resources/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
width: auto;
height: auto;
}

.nav-link{
    color: rgb(0, 0, 0);
    

}

.nav-item{
    color: white;
    padding: 10px;
}

.navbar-nav{
    color: rgb(0, 0, 0);
}

.navbar-brand{
    color: rgb(0, 0, 0);
}

.navbar-toggler{
    color: white;

}

.menu__Fondo{
    background-size:cover;
    width: auto;
    margin: 3px;
    height: 900px;
    border: black;
}

footer{
    background-color:orange;
    height: 200px;
}

.imagen__principal{
height: 700px;
width: 100%;
margin: auto;
padding: auto;
display: inline;
justify-content: center;
object-fit: contain;
}

h1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}


button:hover{
    transform: scale(1.1);

    cursor: pointer;
}
.editar__boton{
    background-color: rgba(0, 0, 0, 0.241);
    border-radius: 15px;
    text-decoration: none;
    border: none;
    height: 50px;
    width: 200px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
align-items: center;
}

.edit{
    margin: 20px;
    
}

.tamano__imagen{
    height: 600px;
    object-fit: cover;
    width: 100%;
    background-size: contain;
}

.carousel-item p{
    
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    color: rgb(0, 0, 0);
    top:20%;
    padding: 3px;
    margin: 15px;
    align-self: flex-start;
}

.editar__color{
    background-color: rgb(255, 166, 0);
    font-size: 20px;
    border-radius: 20px;
    border: none;
    height: 70px;
    width: 220px;
    padding: 10px;
}

.card-img-top{
    border-radius: 20px;
}

@media  (min-width:320px) and (max-width:575px) {

    
    .imagen__logo{
        height: 60px;    
        
        }
        .header__nav{
            background-color: rgb(235, 152, 0);
            font-size: 21px;
            position: sticky;
            top: 1;
        }
        
        body{
            background: white;
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: auto;
        }
        
        .nav-link{
            color: rgb(0, 0, 0);
            
        
        }
        
        .nav-item{
            color: white;
            padding: 10px;
        }
        
        .navbar-nav{
            color: rgb(0, 0, 0);
        }
        
        .navbar-brand{
            color: rgb(0, 0, 0);
        }
        
        .navbar-toggler{
            color: white;
        
        }
        
        .menu__Fondo{
            background-size:cover;
            width: auto;
            margin: 3px;
            height: 900px;
        }
        
        footer{
            background-color:black;
            height: 90px;
        }
        
        .imagen__principal{
        height: auto;
        width: auto;
        margin: auto;
        padding: auto;
        display: inline;
        justify-content: center;
        object-fit: contain;
        }
        
        h1{
            
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(0, 0, 0);
        }

        .contenedorCarrito{
            display: flex;
            justify-content: center;
        }
        
        
        button:hover{
            transform: scale(1.1);
        
            cursor: pointer;
        }
        .editar__boton{
            background-color: rgba(213, 14, 14, 0.241);
            border-radius: 15px;
            text-decoration: none;
            border: none;
            height: 50px;
            width: 200px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 20px;
            margin: 20px;
        align-items: center;
        }
        
        .edit{
            margin: 20px;
            
        }
        
        .tamano__imagen{
            height: 300px;
            object-fit: cover;
            width: 100%;
            padding: 3px;
            background-size: contain;
        }
        

        .editar__color{
            background-color: orange;
            font-size: 20px;
            border-radius: 20px;
            border: none;
            height: 70px;
            width: 220px;
            padding: 10px;
        }
        
        .card-img-top{
            border-radius: 20px;
        }
    
}

.modal-container{
    width:56%;
    margin: 0 20%;
    max-height: 58vh;
    color: white;
    background-color: rgba(128, 128, 128, 0.9)  ;
    display: flex;
    flex-direction: column;
    align-items:center;
    position: fixed;
    overflow: auto;
    z-index: 19;
    top: 12vh;
    border-radius: 30px;
    scrollbar-color: none;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 166, 0);
    color: black;
    width: 100%;
}
.modal-container::-webkit-scrollbar{
    display: none;
}
.modal-container > .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div> img{
    height: 200px;
    width: 200px;
}

.total-content{
    display: flex;
    color :white;
    font-size: 40px;
    justify-content: flex-start;
    align-items: center;
    margin-left: none;
    padding: 20px;
}